<div class="slider-wrapper">
	<div id="nivo-slider-1" class="nivoSlider">
		<img src="{{ root_url }}/assets/nivo-slider/demo/images/nemo.jpg" alt="" />
		<a href="http://dev7studios.com"><img src="{{ root_url }}/assets/nivo-slider/demo/images/toystory.jpg" alt="" title="#htmlcaption" /></a>
		<img src="{{ root_url }}/assets/nivo-slider/demo/images/up.jpg" alt="" title="This is an example of a caption" />
		<img src="{{ root_url }}/assets/nivo-slider/demo/images/walle.jpg" alt="" />
	</div>
</div>
<div id="htmlcaption" class="nivo-html-caption">
	<strong>This</strong> is an example of a <em>HTML</em> caption with <a href="#">a link</a>.
</div>
<hgroup>
  <h1><a href="{{ root_url }}/">The <img src="/images/rem.co.headerlogo.png"/><span>Rem.co</span> Blog</a></h1>
  {% if site.subtitle %}
    <h2>{{ site.subtitle }}</h2>
  {% endif %}
</hgroup>
