body > footer {
  @extend .sans;
  font-size: .8em;
  color: $footer-color;
  //text-shadow: lighten($footer-bg, 5) 0 1px;
  background-color: $footer-bg;
  @include background($footer-bg-front, $footer-bg-back);
  //border-top: 1px solid $footer-border-top;
  margin-top: -130px;
  width: 100%;
  //@include border-bottom-radius(.4em);
  height: 485px;
  z-index: 1;
  a {
	@include link-colors($footer-link-color, $footer-link-color-hover, $visited: $footer-link-color);
  }
  p:last-child { margin-bottom: 0; }
  > #copyright {
	position: absolute;
	bottom: 0;
	margin: 0;
  }
  > #fcontent {
	position: absolute;
	bottom: 50px;
	width: 100%;

	> #fmenu {
	  position: relative;
	  bottom: 0;
	  width: 800px;
	  margin:0px auto;
	  text-align:left;
	  border:1px dashed #333;
	  background-color:#eee;
	  display: block;

	  > ul {
		display: block;
		float: left;
		width: 200px;
	  }
	}
  }
}
