body > footer {
  @extend .sans;
  font:  "Raleway", sans-serif;
  font-size: .8em;
  color: $footer-color;
  //text-shadow: lighten($footer-bg, 5) 0 1px;
  background-color: $footer-bg;
  @include background($footer-bg-front, $footer-bg-back);
  background-size: 165%;
  //border-top: 1px solid $footer-border-top;
  margin-top: -130px;
  width: 100%;
  //@include border-bottom-radius(.4em);
  height: 485px;
  z-index: 1;
  a {
	color: #ffffff;
    text-decoration: none;
    @include transition($rem-co-yellow .3s);
    &:visited {
      color:  #ffffff;
    }
    &:hover, &:active {
      color: $rem-co-yellow;
    }
    &.active {
      color: $rem-co-red;
    }
  }
  ul {
    list-style: none;
  }
  p:last-child { margin-bottom: 0; }
  > #copyright {
	position: absolute;
	bottom: 0;
    right: 0;
	margin: 0;
    padding: 10px;
    font-size: 12pt;
    text-align: right;
	font-family: 'Gloria Hallelujah', cursive;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 1.1;
    z-index:10;
  }
  > #fcontent {
	position: absolute;
	bottom: 0;
	width: 100%;
	> #fmenu {
	  position: relative;
	  bottom: 0px;
	  width: 900px;
	  margin:0px auto;
	  text-align:left;
	  display: block;

	  > .fcol {
		display: block;
		float: left;
		width: 300px;
        > h3 {
          text-transform: uppercase;
          color:  $rem-co-yellow;
        }
	  }
	}
  }
}
