aside.sidebar > section.flickr {
  margin-left: -20px;
  margin-right: -20px;
  img {
    &.aside-flickr {
      border: 0;
      width: 320px;
      max-width: none;
      border-radius: 0;
      box-shadow: none;

    }
  }
  h2 {
    padding-bottom: 10px;
    padding-top: 20px;
    font-size: 1.5em;
    background-color: #CCCCCC;
  }
  p {
    padding-bottom: 20px;
    padding-top: 0;
  }
  h2, p {
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
  }
  li > a:after {
    border-bottom: 10px solid #CCCCCC;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    content: "";
    display: block;
    height: 0;
    margin-left: 20px;
    margin-top: -14px;
    position: absolute;
    width: 0;
  }
}