<p id="copyright">
    &copy; {{ site.time | date: "%Y" }} - <a href="https://rem.co">{{ site.author }}</a><br/>
    <span class="credit">Powered by <a href="http://octopress.org">Octopress</a>.</span>
</p>
<div id="fcontent">
    <div id="fmenu">
        <div class="fcol">
            <h3>Navigation</h3>
            <ul class="footer-navigation">
                {% include custom/navitems.html %}
            </ul>
        </div>
        <div class="fcol">
            <h3>Websites</h3>
            <ul>
                <li><a href="https://rem.co"><i class="icon-globe"></i>&nbsp;Rem.co</a></li>
                <li><a href="http://www.remz-jay.org"><i class="icon-globe"></i>&nbsp;Remz-Jay.org</a></li>
                <li><a href="http://www.remz.nl"><i class="icon-globe"></i>&nbsp;Remz.nl</a></li>
                <li><a href="http://remc.onl"><i class="icon-globe"></i>&nbsp;Remc.onl</a></li>
                <li><a href="http://www.twitupdate.com"><i class="icon-globe"></i>&nbsp;Twitupdate</a></li>
                <li><a href="http://www.socialmediascanner.com"><i class="icon-globe"></i>&nbsp;SocialMediaScanner</a></li>
            </ul>
        </div>
        <div class="fcol">
            <h3>Social Media</h3>
            <ul>
                <li><a href="http://twitter.com/remzjay"><i class="icon-twitter"></i>&nbsp;RemzJay on Twitter</a></li>
                <li><a href="http://facebook.com/remco-overdijk"><i class="icon-facebook"></i>&nbsp;Remco-Overdijk on Facebook</a></li>
                <li><a href="http://www.linkedin.com/in/remcooverdijk"><i class="icon-linkedin"></i>&nbsp;Remco Overdijk on LinkedIn</a></li>
                <li><a href="https://github.com/Remz-Jay"><i class="icon-github-alt"></i>&nbsp;Remz-Jay on GitHub</a></li>
                <li><a href="http://open.spotify.com/user/remzjay"><i class="icon-music"></i>&nbsp;RemzJay on Spotify</a></li>
                <li><a href="https://keybase.io/remz"><i class="icon-globe"></i>&nbsp;Remz on Keybase.io</a></li>
            </ul>
        </div>
    </div>
</div>
{% include custom/footer.html %}
