
<p id="copyright">
	Copyright &copy; {{ site.time | date: "%Y" }} - {{ site.author }} -
	<span class="credit">Powered by <a href="http://octopress.org">Octopress</a></span>
</p>
<div id="fcontent">
	<div id="fmenu">
		<div class="fcol">
			<h3>Navigation</h3>
			<ul class="footer-navigation">
				<li{% if page.url == '/index.html'%} class="active"{% endif %}><a href="{{ root_url }}/"><i class="icon-pencil"></i>Blog</a></li>
				<li{% if page.url == '/blog/archives/index.html'%} class="active"{% endif %}><a href="{{ root_url }}/blog/archives"><i class="icon-book"></i>Archives</a></li>
			</ul>
		</div>
		<div class="fcol">
			<h3>Websites</h3>
			<ul>
				<li><a href="https://rem.co">Rem.co</a></li>
				<li><a href="https://www.remz-jay.org">Remz-Jay.org</a></li>
				<li><a href="https://www.remz.nl">Remz.nl</a></li>
				<li><a href="https://www.twitupdate.com">Twitupdate</a></li>
				<li><a href="https://www.socialmediascanner.com">SocialMediaScanner</a></li>
			</ul>
		</div>
		<div class="fcol">
			<h3>Blub list</h3>
			<ul>
				<li>Blub</li>
				<li>Blab</li>
				<li>Blob</li>
			</ul>
		</div>
		<div class="fcol">
			<h3>Blub list</h3>
			<ul>
				<li>Blub</li>
				<li>Blab</li>
				<li>Blob</li>
			</ul>
		</div>
	</div>
</div>
{% include custom/footer.html %}
