[submodule "assets/bootstrap"]
	path = assets/bootstrap
	url = https://github.com/twitter/bootstrap.git
[submodule "assets/jquery-flickr"]
	path = assets/jquery-flickr
	url = git://github.com/rpheath/jquery-flickr.git
