// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

@import "custom/font-awesome";


header hgroup a img {
  vertical-align: text-top;
  padding-top: 8px;
}
header hgroup a span {
  display: none;
}
aside #so {
  margin-top: 10px;
}
aside #so a {
  white-space: normal;
}
p code, li code {
	color: #93A1A1;
}
