// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

@import "custom/font-awesome";


header hgroup a img {
  vertical-align: text-top;
  padding-top: 8px;
}
header hgroup a span {
  display: none;
}
aside #so {
  margin-top: 10px;
}
aside #so a {
  white-space: normal;
}
p code, li code {
	color: #93A1A1;
}

.jumbotron {
  background-color: #EEEEEE;
  color: inherit;
  margin-bottom: 30px;
  padding-bottom: 48px;
  padding-top: 48px;
  padding-left: 60px;
  padding-right: 60px;
  border-radius: 6px;
  border-bottom: 0 none;
  text-align: center;

  .btn-success {
    background-color: #5CB85C;
    border-color: #4CAE4C;
    color: #FFFFFF;
  }
  .btn-warning {
    background-color: #F0AD4E;
    border-color: #EEA236;
    color: #FFFFFF;
  }
  .btn {
     -moz-user-select: none;
    background-image: none;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    font-size: 21px;
    padding: 14px 24px;
  }
  * {
    box-sizing: border-box;
  }
  *:before, *:after {
    box-sizing: border-box;
  }
  *:before, *:after {
    box-sizing: border-box;
  }
  .btn-lg, .btn-group-lg > .btn {
    border-radius: 6px;
    line-height: 1.33;
  }
  input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }
  button, select {
    text-transform: none;
  }
  button, input, optgroup, select, textarea {
    color: inherit;
    margin: 0;
  }
  .form-control {
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
  }
  input, button, select, textarea {
    font-family: inherit;
  }
  button, input, optgroup, select, textarea {
    margin: 0;
  }
  .form-control::-moz-placeholder {
    color: #999999;
    opacity: 1;
  }
}

.wf-loading {
  font-family: sans-serif;
  visibility: hidden;
}
.wf-active {
  visibility: visible;
}
body#cv {
	table {
		margin-bottom: 15px;
		width: 100%;	
		thead tr th, tbody tr td {
			font-weight: normal;
			margin: 10px;
			padding: 10px;
		}
		thead tr th {
			//background: #AAA;
			//color: #EEE;
			font-weight: bold;
			font-family: "myriad-pro",sans-serif;
			background-color: #b40000;
	    color: #ffffff;
      font-size: 1.3em;
      letter-spacing: -1px;
      line-height: 1.3em;
      //margin-left: -55px;
      //padding-left: 55px;
		}
		thead tr:after {
	    background: url("/images/menutab.png?1390898751") no-repeat scroll right bottom rgba(0, 0, 0, 0);
    	bottom: -24px;
    	content: "";
    	display: block;
    	height: 24px;
    	position: absolute;
    	right: 0;
    	width: 24px;
		}
		thead tr:after {
	    border-bottom: 10px solid #b40000;
	    border-left: 10px solid transparent;
	    border-right: 10px solid transparent;
	    content: "";
	    display: block;
	    height: 0;
	    margin-left: 20px;
	    margin-top: -14px;
	    position: absolute;
    	width: 0;
		}
		tbody tr {
			background: #E5E6E7;
			font-family: "museo-sans",sans-serif;
			transition: color 2.0s ease 1s;
		}
		tbody tr:hover {
			background: #e6d333;	
		}
	}
	li {
		margin-bottom: 10px;
	}
	footer {
		background: none;
		> div#fcontent {
			background-color: #000;
			padding-top: 25px;	
		}
	}
}
#content article #picturepage 
{
	img.aside-flickr {
		width: 350px;
		clip: rect(0, 350px, 200px, 0);
		position: absolute;
	}

	li {
		float: left;
		width: 45%;
		list-style-type: none;
		padding-right: 10px;
		position: relative;
	}
	h2 {
		margin-top: 200px;
	}
}
