// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

@import "custom/font-awesome";

body {
  font-size: 1.1em;
  > nav {
	padding: 0.2em 0.5em 0.2em 55px;
	> a:hover, a:focus {
	  text-decoration: none;
	}
	> ul {
	  padding: 0;
	}
	> form .search {
	  padding: 0.3em 0.5em 0.2em;
	  width: 245px;
	}
  }
}

header hgroup a {
	> img {
	  	vertical-align: text-top;
	  	padding-top: 8px;
	}
  	> span {
		display: none;
	}
}

aside #so {
  margin-top: 10px;
  > a {
	white-space: normal;
  }
}

blockquote {
  font-size: 1.1em;
}

h1, header h1, #content .blog-index article h1 {
  font-size: 1.9em;
}

h2 {
  font-size: 1.3em;
}

h3 {
  font-size: 1.2em;
}

html .gist .gist-file .highlight {
  margin-bottom: 0;
  width: 100%;
}